<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Bonjour <br/>
    <br/>
    Une nouvelle demande de prise de contact est arrivée depuis le portail {{NomPortail}}, trouvez ci-dessous son récapitulatif :
    <br/>
    <ul>
        <li>Date de création de la demande {{DateCreationDemande}}</li>
        <li>Numéro de la demande {{NomPortail}} : {{NumeroDemande}}</li>
        <li>Thème et sous thème de la demande : {{NomTheme}}/{{NomSousTheme}}</li>
        <li>Origine : {{NomCollectivite}} ou {{CommunauteCommune}}</li>
        <li>Demandeur : {{NomDemandeur}}</li>
        <li>Téléphone pour recontacter : {{NumeroTelephone}} </li>
    </ul>

    <br/>
    Bonne journée,
    <br/>
    L'équipe {{NomPortail}}
    <br/>
    {{Signature}}
</body>
</html>
