<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Bonjour, <br/>
    <br/>
    Une nouvelle demande de prise de contact est arrivée depuis le portail {0}, trouvez ci-dessous son récapitulatif :
    <br/>
    <ul>
        <li>Date de création de la demande {1}</li>
        <li>Thème et sous thème de la demande : {2}/{3}</li>
        <li>Origine : {4} </li>
        <li>Demandeur : {5}</li>
        <li>Téléphone pour recontacter : {6} </li>
        <li>Message : {7}</li>
    </ul>
    <br/>
    Bonne journée,
    <br/>
    <br/>
    L'équipe {0}
    <br/>
    <br/>
    {8}
</body>
</html>
