<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Bonjour,
    <br/>
    <br/>
    Nous avons bien réceptionné votre demande {0} soumise le {1}. Nous allons la prendre en charge dans les meilleurs délais.
    <br />
    <br />
    Pour suivre son avancement : Rendez-vous directement sur {2} ou en cliquez sur ce lien {3}
    <br />
    <br />
    Bonne journée,
    <br />
    <br />
    Les équipes TE44
    <br />
    <br />
    {4}                 
</body>
</html>
